* { margin: 0; padding: 0; box-sizing: border-box; /*outline: 1px solid red;*/ }
html, body { max-width: 100vw; min-height: 100vh; position: relative;  overflow-x: hidden !important;}
body { margin: 0; padding: 0; background: #000; font-family: 'LEMONMILK-Regular', 'Roboto', sans-serif; overflow-x: hidden; color: #fff;}
body::after {content: '';position: absolute;top: 0;left: 0;height: 100%;width: 100%;background-image: repeating-linear-gradient(transparent, transparent 2px, #aaa 3px);background-size: auto 100%;pointer-events: none;z-index: 1;opacity: .3; }
@media(max-width: 1000px) {body::after {display: none;}}
a { text-decoration: none; outline: none; }
@font-face { font-family: 'LEMONMILK-Regular'; src: url('../assets/LEMONMILK-Regular.otf') format('opentype'); font-display: swap; }
@font-face{font-family:'Barett Street';src:url('../../assets/Barett\ Street.ttf') format('truetype');font-display:swap;}
section { position: relative; width: 100vw; min-height: 100vh; overflow: hidden; }
svg{position:absolute;left: 0; top: 0; z-index: -1;}
img { width: 100%; height: 100%; object-fit: cover; backface-visibility: hidden; }
.menu-bg { position: absolute; inset: 0; z-index: 1; filter: url(#HoverDistort-max); }
.menu-bg::before { content: ''; position: absolute; top: 46%; bottom: 46%; left: -1em; right: -.5em; background-color: #ffa666; transform: scaleX(0); transition: transform 0.25s ease-in-out; filter: url(#HoverDistort) drop-shadow(0px 0px 5px #ffa666); }

/* HEADER */
.we {position: absolute; top: 0%; left: 50%; transform: translateX(-50%); top: 0%; width: 80%; height: 10vh; z-index: 2; /*background: linear-gradient(to right,transparent,black 5%,black 95%,transparent);*/ z-index: 2;}
.hdr, .subhdr {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; user-select: none; -webkit-user-select: none;/* Safari */ -moz-user-select: none;/* Firefox */ -ms-user-select: none;/* IE/Edge */ }
.subhdr {top: 75%;}
.hdr { color: #fff; text-shadow: 0px 0px .5rem #fff; font-size: 50px; font-family:'LEMONMILK-Regular', 'Roboto', sans-serif; letter-spacing: .5rem; }
.subhdr { color: #ffa666; text-shadow: 0px 0px .5rem #ffa666; font-size: 50px; font-family:'Barett Street', 'LEMONMILK-Regular', 'Roboto', sans-serif; letter-spacing: 0rem;text-transform: initial; }
/* marquee */
/*.trail-container:hover .marquee-trial {transform: translateY(0em);}*/
.marquee-trial { position: absolute; top: 0%; width: 100%; margin: 0 auto; padding: 0.2em 0; white-space: nowrap; overflow: hidden; z-index: 1; background: transparent; border-top: 2px solid #fff; border-bottom: 2px solid #fff; display: flex; align-items: center; transform: translateY(0em); transition: transform 0.5s ease-in-out;}
.marquee-trial-content { display: inline-block; white-space: nowrap; animation: marqueeAnim 180s linear infinite; }
.marquee-trial-content span { font-family: 'LEMONMILK-Regular', 'Roboto', sans-serif; text-transform: uppercase; font-weight: 300; letter-spacing: 10px; color: #fff; text-shadow: 0px 0px .5rem #fff; font-size: 1em; display: inline-block; padding-right: 2rem; user-select: none; -webkit-user-select: none;/* Safari */ -moz-user-select: none;/* Firefox */ -ms-user-select: none;/* IE/Edge */} 
@keyframes marqueeAnim { 0% { transform: translateX(0%); } 100% { transform: translateX(-50%); } }

/* SECTION 01 */
.LP {height: 100vh;}
.LPBG {height: 100%; aspect-ratio: 1/1; filter: drop-shadow(0 0 5px #ffa666) drop-shadow(0 0 5px #ffa666); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-20deg); pointer-events: none; transform-origin: center; z-index: 0; overflow: hidden;}
.LPBG img{width: 100%; aspect-ratio: 1/1; object-fit: cover; pointer-events: none; }
.container { display: flex; align-items: center; justify-content: center; position: relative; width: 100vw; height: 100vh; overflow: hidden; }
.gallery-container { position: relative; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; transform-style: preserve-3d; perspective: 2000px; will-change: transform; }
.marqueeLP { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100vw; height: 200px; overflow: hidden; /*-webkit-text-stroke: 3px #000;*/ z-index: 999; display: none; z-index: 0; }
.marquee-content-LP { color: #fff; text-shadow: 0px 0px 1rem #fff; display: inline-block; white-space: nowrap; padding-left: 100%; animation: scroll-left 30s linear infinite; font-size: 200px; font-family: 'LEMONMILK-Regular', sans-serif; line-height: 200px; letter-spacing: 0.1em; user-select: none; -webkit-user-select: none;/* Safari */ -moz-user-select: none;/* Firefox */ -ms-user-select: none;/* IE/Edge */}
@keyframes scroll-left { 0% { transform: translateX(0%); } 100% { transform: translateX(-100%); } }
.gallery { position: relative; width: 600px; height: 600px; display: flex; justify-content: center; align-items: center; transform-origin: center; will-change: transform; z-index: 2; }
.card { position: absolute; width: 20px; height: 20px; border-radius: 50%; transform-origin: center; will-change: transform; transform-style: preserve-3d; backface-visibility: visible; object-fit: cover; overflow: hidden; background-color: #fff; /*border: 2px solid transparent; box-shadow: 0 0 0 3px #fff;*/ filter:drop-shadow(0 0 1px #fff) drop-shadow(0 0 2.5px #fff); backdrop-filter: blur(8px); cursor: pointer; user-select: none; -webkit-user-select: none;/* Safari */ -moz-user-select: none;/* Firefox */ -ms-user-select: none;/* IE/Edge */}
.gallery-container .logo { position: absolute; top: 50%; left: 50%; width: 500px; height: auto; transform: translate(-50%, -50%); pointer-events: none; will-change: transform, filter; }
.lg { display: flex; flex-direction: column; align-items: center; gap: 10px; color: #fff; text-shadow: 0px 0px .5rem #fff;}
.lgI { font-size: 4vw; font-weight: 800; font-family: 'LEMONMILK-Regular', 'Roboto', sans-serif; letter-spacing: -0.05em; /*filter: url(#text-distortion-max);*/ }
.lgIsub { font-size: 1vw; font-family: 'LEMONMILK-Regular', 'Roboto', sans-serif; letter-spacing: 0.3em; opacity: 1; }
.logo, .card { opacity: 0; }
.title-container { position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 150px; clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); z-index: 1; }
.title-container p { font-family:'Barett Street', 'LEMONMILK-Regular', 'Roboto', sans-serif; color:#ffa666; text-shadow: 0px 0px .5rem #ffa666; position: absolute; width: 100%; text-align: center; font-size: 100px; line-height: .9; text-transform: initial; letter-spacing: -0rem; user-select: none; -webkit-user-select: none;/* Safari */ -moz-user-select: none;/* Firefox */ -ms-user-select: none;/* IE/Edge */}
.word { position: relative; display: inline-block; will-change: transform; }

/* SECTION 02 */
.splitting .whitespace{display:inline-block;white-space:pre;}
.unbutton{background:none;border:0;padding:0;margin:0;font:inherit;}.unbutton:focus{outline:none;}
.hover-line{overflow:hidden;position:relative;display:inline-block;}.hover-line::before{content:'';height:1px;width:100%;background:currentColor;position:absolute;top:94%;transition:transform 0.3s;transform-origin:0% 50%;}.hover-line:hover::before{transform:scaleX(0);transform-origin:100% 50%;}
.main{ z-index: 3; background-color:transparent;display:flex;flex-direction:column;justify-content:space-between;width:100vw;height: 100vh;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);/*backdrop-filter:blur(8px);*/border-radius:0px;overflow:hidden;}
.circle{fill:none;stroke:#eee;stroke-width:2px;will-change:transform,opacity;position:absolute;pointer-events:none;top:50%;left:50%;margin:-800px 0 0 -800px;filter:url(#minFilter);}
.menu{grid-area:1/1/2/2;display:flex;flex-direction:column;justify-content:space-between;align-items:center;opacity:0;transition:opacity 0.2s ease-in;}.main:hover .menu{opacity:1;}
.menu__item{align-self:center;cursor:pointer;color:#fff;line-height:1.2;text-transform:uppercase;font-size:4rem;font-weight:800;will-change:transform;pointer-events:none;-webkit-text-stroke:0px #000;transform:translate3d(0,0,0);filter:url(#minFilter);position:relative;z-index:0;}
.menu--open .menu__item{pointer-events:auto;}
.menu__item:hover,.menu__item--current{color:#ffa666; text-shadow:0px 0px 0.5rem #ffa666;}
.menu__item .char{will-change:transform,opacity;}
.menu__item:nth-child(even){font-weight:100;font-style:italic;-webkit-text-stroke:2px #000;font-family:'LEMONMILK-Regular',heimat-display-14,sans-serif;}
.menu__item:hover .menu-bg::before { transform: scaleX(1); transform-origin: center left; }
.stack{position:absolute;top:0;left:0;width:100%;height:100%;pointer-events:none;display:grid;place-items:center;align-content:center;justify-content:center;grid-gap:5vh;opacity:0;}
.stack__img{width:calc(100vw / 10);will-change:transform;}
.content-wrap{grid-area:1/1/2/2;display:grid;place-items:center;width:100%;overflow:hidden;}
.js .content{opacity:0;pointer-events:none;}.js .content--current{opacity:1;pointer-events:auto;}
.content{grid-area:1/1/2/2;display:grid;place-items:center;width:100%;height:100%;}
.content__title{position:absolute;bottom:5%;left:50%;transform:translate(-50%,0%);color:#fff;font-size:3vw;font-weight:600;text-transform:uppercase;white-space:nowrap;filter:url(#minFilter);}
.content:nth-child(even) .content__title{font-weight:100;font-style:italic;font-family:'LEMONMILK-Regular',heimat-display-14,sans-serif;}
.content__title .char{will-change:transform,opacity; user-select: none; -webkit-user-select: none;/* Safari */ -moz-user-select: none;/* Firefox */ -ms-user-select: none;/* IE/Edge */}
.content__text{ color: #fff; width:80%;margin:0 auto;position:absolute;top:20%;left:50%;transform:translate(-50%,-50%);display:flex;justify-content:center;align-items:center;align-self:center;text-align:center;font-size:1.5rem;will-change:opacity,transform;filter:url(#minFilter); user-select: none; -webkit-user-select: none;/* Safari */ -moz-user-select: none;/* Firefox */ -ms-user-select: none;/* IE/Edge */}
.content__text::after{content:'';position:fixed;pointer-events:none;width:100%;height:100%;top:0;left:0;z-index:1;}
.close{color:#fff;cursor:pointer;line-height:1;opacity:0;pointer-events:none;position:absolute;top:4rem;right:5rem;z-index:150;text-transform:uppercase;}
.close:hover,.close:focus{color:#ffa666;}
.content--current ~ .close{opacity:1;pointer-events:auto;}
.close__cross{font-size:120%;margin-right:0.25rem;}

/* SECTION 03 */
.vision{display:grid;grid-template-rows:100%;grid-template-columns:100%;grid-template-areas:'main';height:calc(100vh - 19rem);width:100%;margin:0 auto;position:relative;}
.content__slide{grid-area:main;width:100%;height:100%;overflow:hidden;display:grid;grid-template-rows:100%;grid-template-columns:100%;grid-template-areas:'inner';align-items:center;opacity:0;pointer-events:none;}
.content__slide--current{opacity:1;}
.content__img,.content__txt-wrap{grid-area:inner;width:100%;}
.content__img{justify-self:center;overflow:hidden;z-index:-1;position:relative;}
.content__img--full::after{content:'';position:absolute;top:0;left:0;background:rgba(255,155,25,1);width:100%;height:100%;}
.content__img-inner{width:100%;height:100%;background-position:50% 50%;background-size:cover;}
.content__img-inner video { width: 100%; object-fit: cover; display: block; }
.content__txt-wrap{height:100%;display:flex;flex-direction:column;align-items:center;justify-content:center;}
.content__txt{overflow:hidden;flex:1;opacity:0;pointer-events:none;}
.content__txt:nth-child(6){opacity:1;}
.content__txt--full{flex:none;}
.content__txt-inner{display:block;color:#fff;text-transform:uppercase;font-size:3.5rem;font-weight:900;line-height:17vh;font-family:'LEMONMILK-Regular','Roboto',sans-serif;}
.content__txt-inner--bottom{transform:translate3d(0,-40%,0);}
.content__txt-inner--stroke{color:transparent;-webkit-text-stroke:2px #fff;}
.content__nav{grid-area:main;justify-self:center;align-self:end;width:90vw;max-width:90vw;height:auto;display:flex;align-items:flex-end;justify-content:center;position:relative;}
.content__nav-button{position: relative; border:0;cursor:pointer;background:none;margin:.25rem 0;padding:0;color:#fff;font-family:'LEMONMILK-Regular',sans-serif;font-size:3rem;font-weight:900;line-height:1;}
.content__nav-button:hover .menu-bg::before { transform: scaleX(1); transform-origin: center left; }
.content__nav-button:focus{outline:none;}
.content__nav-button--next{transform:translateX(1rem);}
@media screen and (min-width:53em){
  :root{font-size:16px;}
  .vision{height:100vh;}
  .content__img{width:66vw; aspect-ratio: 16/9; height:auto;}
  .content__img--full{height:calc(100vh + 20px);width:calc(100vw + 20px);max-width:none;max-height:none;}
  .content__txt-inner{font-size:10rem; mix-blend-mode: difference;}
  .content__nav{align-self:center;justify-content:space-between;font-size:1.75rem;}
}
.disnon {display: none;}

/* SECTION 04 */
.sgas { display:grid; place-items:center; width:100%; position:relative; font-family:'LEMONMILK-Regular','Roboto',sans-serif; color: #fff;}
.shadow {position: relative;}
/*.shadow::after { content:''; top:0; left:0; position:absolute; width:100%; height:100%; z-index:5000; pointer-events:none; background:linear-gradient(to right,#000,transparent,#000); background-repeat:no-repeat; background-size:100%; }*/
.intro { height:calc(100vh - 4rem); text-align:center; justify-items:center; display:grid; align-content:start; margin-bottom:30vh; grid-auto-rows:1fr; gap:1.5rem; position: relative; }
.bg-wrap {position: absolute;width: 100vw;height: 100vh;top: 0; left: 0;overflow: hidden;z-index: 0;}
.bg-video {position: absolute;inset: 0;width: 100%;height: 100%;object-fit: cover;object-position: 50% -10%;z-index: 0; mix-blend-mode: screen;}
.bg-overlay {position: absolute;inset: 0;background: linear-gradient(to bottom,#000,rgba(0, 0, 0, 0.4),#000);z-index: 1;pointer-events: none;mix-blend-mode: multiply;}
.intro__title { margin:0; line-height:.9; align-self:end; font-weight:400; text-transform:uppercase; font-size:clamp(2rem,6vw,4rem); color:#fff; text-shadow: 0px 0px .5rem #fff; z-index: 1; position: relative;}
.subith { color: #ffa666; text-shadow: 0px 0px .5rem #ffa666; font-size: 100px; font-family:'Barett Street', 'LEMONMILK-Regular', 'Roboto', sans-serif; letter-spacing: 0rem;text-transform: initial; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);}
.tags { display:flex; flex-wrap:wrap; gap:1rem; text-transform:uppercase; font-size:13px; align-self:start; z-index: 1; }
.tags a {color: #fff; text-shadow:0px 0px 0.5rem transparent;  transition: all .5s ease-in-out;}
.tags a:hover{color: #ffa666; text-shadow:0px 0px 0.5rem #ffa666;}
.intro__info { max-width:12ch; margin-bottom:4rem; padding-bottom:1rem; line-height:1.2; opacity:1; position:relative; align-self:end; text-transform:uppercase; font-size:13px; text-shadow: 0px 0px .5rem #fff; z-index: 2; }
.intro__info::after { content:""; width:1px; height:4rem; background:linear-gradient(to bottom,#fff,black); position:absolute; top:100%; left:50%; }
.mark { position:fixed; width:100%; top:50%; transform:translateY(-50%); width:100vw; left:0; z-index:50; overflow:hidden; }
.mark__inner { display:flex; gap:3rem; width:max-content; position:relative; transform:translateX(100vw); will-change:transform; }
.mark__inner span { white-space:nowrap; text-transform:uppercase; font-size:3rem; line-height:1; text-shadow: 0px 0px .5rem #fff;}
.grid { padding:20vh 0; width:100%; max-width:800px; grid-template-columns:repeat(2,1fr); position:relative; display:grid; gap:2rem; margin: 20vh auto 10vh auto; /* Added 'auto' to center the grid */}
.grid--full { width:100%; margin:10vh 0; height:auto; aspect-ratio:1.5; max-width:none; --grid-gap:1rem; --grid-item-height:100%; --grid-item-ratio:auto; padding:2rem; grid-template-columns: repeat(5, 1fr); grid-template-rows: auto; }
.grid__item { margin:0; position:relative; z-index:1; perspective:5000px; will-change:transform,opacity; }
.grid__item > .grid__item-img,  
.grid__item-imgwrap { width:100%; aspect-ratio:1.2; height:auto; border-radius:4px; transform-style:preserve-3d; }
.grid__item-imgwrap { position:relative; overflow:hidden; will-change:filter; }
.grid__item-img { background-size:cover; background-position:50% 20%; backface-visibility:hidden; will-change:transform; }
.grid__item-imgwrap > .grid__item-img { position:absolute; top:calc(-1 * 0px); left:calc(-1 * 0px); height:calc(100% + 0px * 2); width:calc(100% + 0px * 2); }
.text { text-transform:uppercase; display:flex; align-content:center; font-size:clamp(2rem,10vw,6rem); line-height:0.7; }
.font-alt { font-family:'LEMONMILK-Regular','Roboto',sans-serif; font-weight:400; }
.credits2 { position: relative; width: fit-content; height: 5%; font-size:clamp(1rem,5vw,3rem); text-transform:uppercase; text-align:center; margin:100vh auto 0; margin-bottom:5vh; cursor: pointer;}
.credits2 a {color: #fff; text-shadow:0px 0px 0.5rem transparent;  transition: all .5s ease-in-out;}
.credits2:hover a{color: #ffa666; text-shadow:0px 0px 0.5rem #ffa666;}
.weII {position: absolute; bottom: 40vh; left: 50%; transform: translateX(-50%); width: 80%; height: 10vh; z-index: 2;}
.hdrII, .subhdrII {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; user-select: none; -webkit-user-select: none;/* Safari */ -moz-user-select: none;/* Firefox */ -ms-user-select: none;/* IE/Edge */ }
.hdrII { color: #fff; text-shadow: 0px 0px .5rem #fff; font-size: 100px; font-family:'LEMONMILK-Regular', 'Roboto', sans-serif; letter-spacing: 0rem; line-height: .9; }
.subhdrII { color: #ffa666; text-shadow: 0px 0px .5rem #ffa666; font-size: 150px; font-weight: lighter; font-family:'Barett Street', 'LEMONMILK-Regular', 'Roboto', sans-serif; letter-spacing: 0rem;text-transform: initial; }


@media (orientation: portrait) {.rotate-on-portrait { transform: rotate(90deg); transform-origin: center center; }}

@media (max-width:1300px){
  .we {top: 2vh;}
  .hdr {text-shadow: 0px 0px .5rem #fff; font-size: 40px; letter-spacing: .5rem;}
  .subhdr { text-shadow: 0px 0px .5rem #ffa666; font-size: 40px;}
  .stack__img{width:calc(100vw / 8);}
  .content__txt-inner{font-size:3rem;}
  .content__nav-button{font-size:2rem;}
  .text {font-size:clamp(1rem,5vw,3rem);}
  .hdrII {font-size: 60px;}
  .subhdrII {font-size: 100px;}
  .credits2 { font-size:clamp(1rem,3vw,2rem); }
}

@media (max-width:1080px){
  .we {top: 5vh;}
  .hdr {text-shadow: 0px 0px .5rem #fff; font-size: 30px; letter-spacing: .5rem;}
  .subhdr { text-shadow: 0px 0px .5rem #ffa666; font-size: 30px;}
  .menu__item{font-size:3rem;}
  .stack__img{width:calc(100vw / 7);}
  .content__text{ top:25%;}
  .content__txt-inner{font-size:3rem;}
  .content__nav-button{font-size:2rem;}
  .intro__title {margin-top:20vh;}
  .text {font-size:clamp(1rem,3vw,2rem);}
  .hdrII {font-size: 40px;}
  .subhdrII {font-size: 80px;}
  .credits2 { font-size:clamp(1rem,2vw,2rem); }
}

@media (max-width:900px){
  body::after {display: none;}
  .we {top: 5vh;}
  .hdr {font-size: 50px; letter-spacing: .5rem;}
  .subhdr {font-size: 50px;}
  .lgI { font-size: 6vw; letter-spacing: -0.05em; }
  .lgIsub { font-size: 2vw; letter-spacing: 0.1em; }
  .menu__item{font-size:5rem;}
  .stack__img{width:calc(100vw / 5);}
  .content__text{ top:25%;}
  .content__txt-inner{font-size:3rem;}
  .content__nav-button{font-size:2rem;}
  .intro__title {margin-top:20vh;}
  .text {font-size:clamp(1rem,3vw,2rem);}
  .hdrII {font-size: 80px;}
  .subhdrII {font-size: 80px;}
  .credits2 { font-size:clamp(1rem,4vw,3rem); }
  .subith {font-size: 75px;top: 66%;}
}

@media screen and (max-width:500px){
  body{width: 100vw; overflow-x: hidden !important;}
  .hdr {width: 100vw;}
  .we {top: 3vh; width: 100%;}
  .hdr {font-size: 50px; letter-spacing: .5rem;}
  .subhdr {font-size: 50px;}
  .card { width: 25px; height: 25px; }
  .lgI { font-size: 10vw; letter-spacing: -0.05em; }
  .lgIsub { font-size: 4vw; letter-spacing: 0em; }
  .marquee-content-LP { font-size: 100px; }
  .title-container { top: 66%; }
  .title-container p { font-size: 50px; }
  .menu__item{font-size:3rem;}
  .stack__img{width:calc(100vw / 2);}
  .content__text{ top:25%;}
  .close{top:66%;left: 50%; transform: translateX(-50%);}
  .content__txt-inner{font-size:3rem;}
  .content__nav-button{font-size:2rem;}
  .vision{height:calc(100vh - 5rem);width:96%;}
  .content__title{bottom:10%;font-size:10vw;}
  .intro__title {margin-top:20vh;}
  .text {font-size:clamp(1rem,3vw,2rem);}
  .weII {width: 90%;}
  .hdrII {font-size: 40px;}
  .subhdrII {font-size: 60px;}
  .credits2 { font-size:clamp(2rem,6vw,4rem); }
}

@media (max-width: 500px) and (max-height: 800px) {
  .hdr {width: 100vw;}
  .we {top: 5vh; width: 100%;}
  .hdr {font-size: 40px; letter-spacing: .5rem;}
  .subhdr {font-size: 40px;}
  .card { width: 25px; height: 25px; }
  .lgI { font-size: 10vw; letter-spacing: -0.05em; }
  .lgIsub { font-size: 4vw; letter-spacing: 0em; }
  .marquee-content-LP { font-size: 100px; }
  .title-container { top: 66%; }
  .title-container p { font-size: 50px; }
  .menu__item{font-size:2rem;}
  .stack__img{width:calc(100vw / 2);}
  .content__text{ top:33%;}
  .close{top:66%;left: 50%; transform: translateX(-50%);}
  .content__txt-inner{font-size:3rem;}
  .content__nav-button{font-size:2rem;}
  .vision{height:calc(100vh - 2rem);width:96%;}
  .content__title{bottom:10%;font-size:5vw;}
  .subith {font-size: 50px; top: 100%;}
  .intro__title {margin-top:20vh;}
  .text {font-size:clamp(1rem,3vw,2rem);}
  .weII {width: 90%;}
  .hdrII {font-size: 40px;}
  .subhdrII {font-size: 60px;}
  .credits2 { font-size:clamp(2rem,6vw,4rem); }
}



/* Loader CSS */
.loading{display:flex;align-items:center;justify-content:center;position:fixed;top:0;right:0;bottom:0;left:0;z-index:100;background:#ffa666;opacity:0;transition:0.5s;}
.before-load .loading{opacity:1;}
/*@keyframes loading-spin{100%{transform:rotate(360deg);}}*/
@keyframes loading-circle-ani{0%{stroke-dashoffset:157;}75%{stroke-dashoffset:-147;}100%{stroke-dashoffset:-157;}}
.loading-circle{ aspect-ratio: 1/1; width:200px;height:auto;/*animation:loading-spin 2s infinite;*/}
.loading-circle img{width:100%;height:auto; border: 2px #000;}
.loading-circle circle{stroke:#171010;stroke-width:4;stroke-dasharray:157,157;stroke-dashoffset:0;fill:transparent;animation:loading-circle-ani 1s infinite;}
/*@media (max-width:500px) {  }*/
