* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 1vw;
}
body::after {content: '';position: absolute;top: 0;left: 0;height: 100%;width: 100%;background-image: repeating-linear-gradient(transparent, transparent 2px, #aaa 3px);background-size: auto 100%;pointer-events: none;z-index: 0;opacity: .3; }

@font-face{font-family:'LEMONMILK-Regular';src:url('../../assets/LEMONMILK-Regular.otf') format('opentype');font-display:swap;}

.cloneable {
  padding: 1em;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
  font-size: 1.1vw;
  z-index: 2;
}

.slider-background {
  position: absolute;
  opacity: .3;
  inset: 0; /* top:0; bottom:0; left:0; right:0 */
  z-index: -1; /* behind everything */
  background-size: cover;
  background-position:right;
  filter: blur(200px) brightness(0.3); /* adjust blur & darken */
  transition: background-image 0.7s ease, filter 0.7s ease;
}

.overlay {
  z-index: 2;
  background-image: linear-gradient(90deg, #000 10%, transparent);
  justify-content: flex-start;
  align-items: center;
  width: 37.5em;
  height: 100%;
  padding-left: 2em;
  display: flex;
  position: absolute;
  inset: 0% auto 0% 0%;
}

.overlay-inner {
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 28.125em;
  display: flex;
}

.overlay-count-row {
  padding-left: .5em;
  grid-column-gap: .5em;
  grid-row-gap: .2em;
  flex-flow: row;
  justify-content: end;
  align-items: center;
  font-family: 'LEMONMILK-Regular', Impact, sans-serif;
  font-size: 5.625em;
  font-weight: 700;
  display: flex;
}

.count-column {
  height: 1em;
  overflow: hidden;
}

.count-heading {
  width: 2ch;
  font-size: 1em;
  line-height: 1;
  margin: 0px;
}

.count-row-divider {
  background-color: #fff;
  width: 5px;
  height: 1em;
  transform: rotate(15deg);
}

.overlay-nav-row {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  display: flex;
}

.button {
  background-color: #0000;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  padding: 0;
  display: flex;
  position: relative;
  font-size: inherit;
  cursor: pointer;
}

.button-arrow {
  flex: none;
  width: 2em;
  height: 2em;
}

.button-arrow.next {
  transform: rotate(180deg);
}
/*
.button-overlay {
  z-index: 2;
  position: absolute;
  inset: -1px;
}

.overlay-corner {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  width: 1em;
  height: 1em;
}

.overlay-corner.top-right {
  position: absolute;
  inset: 0% 0% auto auto;
  transform: rotate(90deg);
}

.overlay-corner.bottom-left {
  position: absolute;
  inset: auto auto 0% 0%;
  transform: rotate(-90deg);
}

.overlay-corner.bottom-right {
  position: absolute;
  inset: auto 0% 0% auto;
  transform: rotate(180deg);
}
*/
.button, .button-overlay{ transition: transform 0.3s ease-in-out, border 0.3s ease-in-out, opacity 0.3s ease-in-out}
/*
.button:hover .button-overlay{ transform: scale(1.4); }
.overlay-nav-row:hover:has(.button:hover) .button{ opacity: 0.4; }
*/
.button:hover{ transform: scale(0.85); opacity: 1 !important; border: 2px solid #fff;}

.main {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.slider-wrap {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.slider-list {
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: relative;
}

.slider-slide {
  flex: none;
  width: 42.5em;
  height: 28em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  transition: opacity .4s;
  position: relative;
  cursor: pointer;
}

[data-slider="slide"]{ opacity: 0.2; }
[data-slider="slide"].active { opacity: 1; } 
[data-slider="slide"].active .slide-caption{ transition-delay:0.3s;} 

.slide-inner {
  border-radius: 0em;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

img{
  width:100%;
  height:100%;
  object-fit: cover;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  border: 0;
}

.slide-caption {
  z-index: 2;
  grid-column-gap: .4em;
  grid-row-gap: .4em;
  background-color: #000;
  color: #fff;
  white-space: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: .4em .75em .4em .5em;
  display: flex;
  position: absolute;
  top: 1em;
  left: 1em;
  overflow: hidden;
}

.caption-dot {
  background-color: #fff;
  border-radius: 10em;
  flex: none;
  width: .3em;
  height: .3em;
}

.caption {
  font-size: .75em;
  font-weight: lighter;
  letter-spacing: 10px;
  font-family: 'LEMONMILK-Regular', Impact, sans-serif;
  margin: 0px;
}

.slide-caption{ transition: transform 0.525s ease-in-out, opacity 0.525s ease-in-out; transition-delay:0s; }

html:not(.wf-design-mode) .slide-caption{ opacity: 0; transform:translate(-25%, 0px) }
html:not(.wf-design-mode) [data-slider="slide"].active .slide-caption{ opacity: 1; transform:translate(0%, 0px) }

.osmo-credits {
  z-index: 999;
  pointer-events: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4em;
  padding: 1em;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
}

.osmo-credits__p {
  pointer-events: auto;
  color: #bbb;
  text-align: center;
  margin: 0;
  font-family: 'LEMONMILK-Regular', Impact, sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.3;
}

.osmo-credits__p-a {
  color: #fff;
}

@media (max-width:1300px){
  .slider-slide { width: 66%; height: auto; }
  .button-arrow { width: 3em; height: 3em; }
  .osmo-credits__p { font-size: 2em; }
}

@media (max-width:1080px){
  .osmo-credits__p { font-size: 2em; }
}

@media (max-width:900px){
  .overlay { height: 25%; width: 100%; position: absolute; top: 66%; left: 50%; transform: translateX(-50%); justify-content: center; background-image: linear-gradient(90deg, transparent 10%, transparent);}
  .overlay-count-row { font-size: 10em; }
  .button { border: 3px solid transparent; width: 20em; height: 20em; } .button-arrow { width: 10em; height: 10em; } .button:hover{ border: 2px solid #fff;}
  .slider-slide { width: 90%; height: auto; }
  .slide-caption { padding: 1.5em 3em 1.5em 3em; } .caption-dot { width: 1.5em; height: 1.5em; } .caption { font-size: 3em; letter-spacing: 2px; }
  .osmo-credits { height: 8em; padding: 1em; bottom: 66%; left: 0; } .osmo-credits__p { font-size: 5em; }
}

@media (max-width: 500px) and (max-height: 800px) {
  .osmo-credits { bottom: 75%; }
}

/* Loader CSS */
.loading{display:flex;align-items:center;justify-content:center;position:fixed;top:0;right:0;bottom:0;left:0;z-index:100;background:#ffa666;opacity:0;transition:0.5s;}
.before-load .loading{opacity:1;}
/*@keyframes loading-spin{100%{transform:rotate(360deg);}}*/
@keyframes loading-circle-ani{0%{stroke-dashoffset:157;}75%{stroke-dashoffset:-147;}100%{stroke-dashoffset:-157;}}
.loading-circle{ aspect-ratio: 1/1; width:200px;height:auto;/*animation:loading-spin 2s infinite;*/}
.loading-circle img{width:100%;height:auto; border: 2px #000;}
.loading-circle circle{stroke:#171010;stroke-width:4;stroke-dasharray:157,157;stroke-dashoffset:0;fill:transparent;animation:loading-circle-ani 1s infinite;}
/*@media (max-width:500px) {  }*/