:root{font-size:16px;--page-padding:2rem;--color-text:#000;--color-bg:#fff;--color-link:rgba(0,0,0,0.8);--color-link-hover:#000;--color-list-item:#000;--color-title:#000;--color-number:#000;--color-bg-effect:white;--blendmode-effect:difference;--bg-blur:0px;--font-size-list-item:18px;}
body{height:100vh;width: 100vw; overflow: hidden; margin:0;color:#fff;background-color:#000;font-family:'LEMONMILK-Regular', "JetBrains Mono", 'Roboto', sans-serif; font-weight:300;font-optical-sizing:auto;text-transform:uppercase;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;overflow-x:hidden;}
body::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: repeating-linear-gradient(transparent, transparent 2px, #eeeeee3d 3px);
	background-size: 100% 100%;
	pointer-events: none;
}
@media(max-width: 1000px) {body::after {display: none;}}

:root {
  --background-rgb: 250 250 250;
  
  --blue-rgb: 250 250 250;
  --primary-rgb: 220 220 220;
  
  --blob-color-1: rgb(255, 255, 255);
  --blob-color-2: rgb(252, 125, 33);
}

svg {position: absolute; top: 0; left: 0; z-index: -1;}
/* -- Blob effect -- */
@keyframes rotate {from {rotate: 0deg;}50% {scale: 1 1.5;}to {rotate: 360deg}}
#blob { background-color: white; height: 34vmax; aspect-ratio: 1; position: absolute; left: 50%; top: 50%; translate: -50% -50%; border-radius: 50%; background: linear-gradient(to right, var(--blob-color-1), var(--blob-color-2)); animation: rotate 20s infinite; opacity: 0.2; z-index: -2;}
#blur { height: 100%; width: 100%; position: absolute; z-index: -1; backdrop-filter: blur(12vmax); }

/* BG SHAPES EFFECT 
.absolute { z-index: -1; position: fixed; display: none; inset: 0; justify-content: center; display: inline-flex; flex-direction: row; max-width: 100vw; max-height: 100vh; overflow-x: hidden; overflow-y: visible; transition: visibility 0.5s ease-in-out;}
.jc { justify-content: center; }
.bg-shape1 { width: 500px; height: 500px; border-radius: 9999px; position: relative; animation: one 10s infinite; }
.bg-shape2 { width: 300px; height: 300px; border-radius: 9999px; position: relative; animation: two 10s infinite; }
@keyframes one { 0% { left: 0px; top: 0px; } 25% { left: -100px; top: 70px; } 50% { left: 20px; top: 150px; } 75% { left: 50px; top: 100px; } 100% { left: 0px; top: 0px; } }
@keyframes two { 0% { left: 0px; top: 0px; } 25% { left: 50px; top: 10px; } 50% { left: 100px; top: 50px; } 75% { left: 50px; top: 100px; } 100% { left: 0px; top: 0px; } }
.o50 { opacity: .5; }
.bg-blur { filter: blur(90px); }
.bg-pr { background-color: #444000; }
.bg-rd { background-color: #440000; }
.bg-gd { background-color: #ffd000; }
*/
@font-face{font-family:'LEMONMILK-Regular';src:url('../assets/LEMONMILK-Regular.otf') format('opentype');font-display:swap;}
@font-face{font-family:'Barett Street';src:url('../../assets/Barett\ Street.ttf') format('truetype');font-display:swap;}
@font-face{font-family:'Serpentine';src:url('../../assets/Serpentine\ Sans\ W01\ Bold.otf') format('opentype');font-display:swap;}

.demo-2{--color-text:#111;--color-bg:#fff;--color-link:#555;--color-link-hover:#111;--color-list-item:#c7c0b3;--color-title:#000;--color-number:#111;}
.demo-2{display:flex;flex-direction:column; height:100vh; justify-content:space-between;}
a{text-decoration:none;color:#ddd;outline:none;cursor:pointer;}
a:hover{text-decoration:none;color:#111;outline:none;}
.unbutton{background:none;border:0;padding:0;margin:0;font:inherit;cursor:pointer;}
.unbutton:focus{outline:none;}

.frame{width: 50vw; font-size:12px;font-weight:bold;letter-spacing:1px;padding:2rem;position:relative;display:flex;justify-content:space-between;align-items:center;align-self: center;}
.frame #cdawrap{justify-self:start;}
.frame h1{font-size: 3rem; font-family: 'Serpentine', 'Barett Street', 'LEMONMILK-Regular', 'Roboto', sans-serif; text-transform: initial;text-shadow: 0px 0px 3px #fff, 0px 0px 6px #fff;}
.frame a{font-size: 1rem; pointer-events:auto;}
.frame__title{user-select: none; -webkit-user-select: none;/* Safari */ -moz-user-select: none;/* Firefox */ -ms-user-select: none;/* IE/Edge */}
.frame__demos{grid-area:demos;display:flex;gap:1rem;}

.screen{width:50vw;display:flex;border:2px solid #fff;box-shadow:0 0 0 0px rgb(var(--primary-rgb));aspect-ratio:16/9;border-radius:0rem;background-color:rgb(var(--primary-rgb)/15%);overflow:hidden;position:absolute;left:50%;top:42%;translate:-50% -50%;z-index:10;}
.screen:after,.screen:before{content:"";height:0px;position:absolute;z-index:4;left:50%;translate:-50% 0%;background-color:white;}
.screen:before{width:15%;top:0rem;border-bottom-left-radius:1rem;border-bottom-right-radius:1rem;}
.screen:after{width:25%;bottom:0rem;border-top-left-radius:1rem;border-top-right-radius:1rem;}
@keyframes pan-overlay{from{background-position:0% 0%;}to{background-position:0% -100%;}}
.screen-overlay{background:linear-gradient(rgb(var(--primary-rgb)/0.15),rgb(var(--primary-rgb)/0.15) 3px,transparent 3px,transparent 9px);background-size:100% 9px;height:100%;width:100%;animation:pan-overlay 22s infinite linear;position:absolute;z-index:2;left:0px;top:0px;}
.screen>.screen-video{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;z-index:1;opacity:0.6;}
.screen>.screen-content{display:flex;flex-direction:column;align-items:center;justify-content:flex-end;flex-grow:1;gap:4rem;position:relative;z-index:3;margin:1rem;padding-bottom:2rem;border:1px solid rgb(var(--primary-rgb)/50%);border-radius:0rem;}
.screen>.screen-content>.screen-icon{width:100px;height:100px;object-fit:cover;filter:drop-shadow(0 0 5px #fff) drop-shadow(0 0 5px #fff);position:absolute;left:50%;top:33%;translate:-50% -50%;}
.screen>.screen-content>.screen-user{display:flex;flex-direction:column;align-items:center;gap:1rem;position:relative;}
.screen>.screen-content>.screen-user:before,.screen>.screen-content>.screen-user:after{content:"";position:absolute;top:0px;background-color:#fff;border-radius:0rem;box-shadow:0px 0px 8px 3px #fff;}
.screen>.screen-content>.screen-user:before{height:2px;width:50px;translate:-20px -1rem;opacity:0.75;}
.screen>.screen-content>.screen-user:after{height:3px;width:30px;translate:26px calc(-1rem - 0.5px);}
.screen>.screen-content>.screen-user>:is(.name,.link){font-family:'LEMONMILK-Regular','Roboto',sans-serif;color:white;text-align:center;}
.screen>.screen-content>.screen-user>.name{position:relative;font-size:4.25rem;font-weight:300;}
.name{font-family:'Barett Street','Border','LEMONMILK-Regular','Roboto',sans-serif;color:white;text-shadow:0px 0px 1rem white;text-transform: initial;}
.name:hover {color: #fff;}
.screen>.screen-content>.screen-user>.name:before,.screen>.screen-content>.screen-user>.name:after{content:"";height:4px;width:4px;position:absolute;border:2px solid white;border-radius:2px;}
.screen>.screen-content>.screen-user>.name:before{top:55%;right:-1.5rem;}
.screen>.screen-content>.screen-user>.name:after{top:45%;left:-1.5rem;}
.screen>.screen-content>.screen-user>.link{opacity:0.8;font-size:1.5rem;text-shadow:0px 0px 0.5rem white;font-weight:400;letter-spacing:0.3rem;text-decoration:none;}
.screen>.screen-content>.screen-user>.link:is(:hover,:focus){text-decoration:underline;}

.footer{position:absolute;bottom:0%;left: 50%;transform: translateX(-50%); width:50vw; display:flex;flex-direction:column;padding:0 3rem 3rem 3rem;justify-content:center;overflow: hidden;}
.footer__title{font-size:12px;color:#fff;}
.footer p{padding:5vh var(--page-padding) 0;font-size:12px;max-width:900px;}
.spacer{margin-top:15vh;}
.list{margin:0;padding:0;width:100%;list-style:none;display:flex;flex-direction:column;counter-reset:item 0;}
.list__item{font-size:var(--font-size-list-item);cursor:pointer;color:#fff;width:100%;display:grid;grid-column-gap:2rem;padding:0.5rem 0;grid-template-columns:100%;justify-content:space-between;align-items:start;justify-items:start;}
.list__item:hover{color:#000;}
.list__item::before{color:#fff;content:counter(item,decimal-leading-zero);counter-increment:item;font-weight:500;padding:3px 3px 0;line-height:0.8;}
.list--alt .list__item::before{content:"EVT#" counter(item,decimal-leading-zero) "0";}
.list__item-col{flex:none;padding:3px 3px 0;line-height:0.8;}
.hover-effect{font-kerning:none;position:relative;white-space:nowrap;}
.hover-effect .word{white-space:nowrap;}
.hover-effect .char{position:relative;}
.hover-effect--cursor-square .char{--opa:0;}
.hover-effect--cursor-square .char::after{content:'';width:1ch;top:0;left:0;position:absolute;opacity:var(--opa);background:currentColor;height:100%;}
.hover-effect--bg,.hover-effect--bg-south{--anim:0;}
.hover-effect--bg::after,.hover-effect--bg-south::after{content:'';position:absolute;left:0;width:100%;height:calc(100% + 3px);top:0;background-color:#ffa666;/*filter: drop-shadow(0 0 2px #ffa666) drop-shadow(0 0 2px #ffa666);*/ mix-blend-mode:normal;-webkit-backdrop-filter:blur(var(--bg-blur));backdrop-filter:blur(var(--bg-blur));transform-origin:0% 50%;transform:scaleX(var(--anim));z-index: -1;}
.hover-effect--bg-south::after{z-index:-1;left:-8px;right:-8px;top:-8px;bottom:-8px;border-radius:2px;height:auto;width:auto;transform-origin:50% 100%;transform:scaleY(var(--anim));}
/*.min-txt{position:absolute;left:0;bottom:0;width:100vw;height:100vh;z-index:-1;}*/
@media screen and (min-width:40em){.list__item{grid-template-columns:auto 1fr 1fr 1fr auto;}}
@media screen and (min-width:53em){.frame{grid-template-columns:auto auto auto auto 1fr 1fr;grid-template-areas:'title back archive github demos sponsor';}.frame #cdawrap,.frame__demos{justify-self:end;}.frame #cdawrap{text-align:right;}}
@media screen and (min-width:73em){.list__item{grid-template-columns:100px 30% 1fr 1fr;}.list__item-col:last-child{justify-self:end;}}

.fade-sides { -webkit-mask-image: linear-gradient( to right, transparent 0%, black 15%, black 85%, transparent 100% ); mask-image: linear-gradient( to right, transparent 0%, black 15%, black 85%, transparent 100% ); }

.marqueecontainer {
  position: relative; /*left: 50%; top: 6%; transform: translate(-50%, -50%);*/
  z-index: 10; /* Make sure it's above the background/blob */
  width: 100vw;
  overflow: hidden;
  background: transparent; /* Or a color to test visibility */
  border-top: 2px solid white; 
  border-bottom: 2px solid white;
  filter: drop-shadow(0px 0px 5px #fff);
  display: none;
}

.marqueecontent {
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  will-change: transform; /* Helps GSAP performance */
}

.marqueecontent span {
  font-family: 'LEMONMILK-Regular', "JetBrains Mono", 'Roboto',sans-serif;
  display: block;
  padding: 0 40px; /* Space between items */
  font-size: 22px; /* Make it big so you can't miss it */
  color: white;
  flex-shrink: 0; /* Prevents the items from squishing to 0 width */
  pointer-events: none; user-select: none; -webkit-user-select: none;/* Safari */ -moz-user-select: none;/* Firefox */ -ms-user-select: none;/* IE/Edge */
}

.types {display: none;}

.types-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: .2rem 0 .2rem;
  padding-left: 0;
  color: #fff;
  font-size:18px;font-weight:bold;
}
.types-list li {
  font-family: 'LEMONMILK-Regular', "JetBrains Mono", 'Roboto',sans-serif;
  border-top:1px solid transparent;
  border-bottom:1px solid transparent;
  text-shadow: 0px 0px .2rem transparent;
  text-align: center;
  line-height: 1;
  letter-spacing: 5px;
  width: 100%;
  max-width: 100%;
  position: relative;
  margin: 0.1rem 0;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  transition: all 0.4s ease;
  padding: 0.2em 0;
  -webkit-tap-highlight-color: transparent; /* Removes the blue box on tap */
  user-select: none; -webkit-user-select: none;/* Safari */ -moz-user-select: none;/* Firefox */ -ms-user-select: none;/* IE/Edge */
}
.types-list li a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}
.types-list li .marquee-inner {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
}
.types-list li:hover {
  background: transparent;
  color: #fff;
  text-shadow: 0px 0px .2rem #fff;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
}

@media (max-width:2000px){
	.frame{padding:1rem;height: 5vh;} 
	.screen{top:37%;} 
	.footer{bottom: 0%;padding:0 1rem 1rem 1rem;} 
}

@media (max-width:800px){
	body{height:150vh;width: 100vw; overflow: hidden !important;}
	.demo-2{height: 100%; gap: 10px; justify-content: start;} 
	.frame{position: relative; flex-direction: column; height: fit-content;} 
	.frame h1 {margin: 0; margin-top: 20px;}
	.screen{position: relative; width:99vw; scale: .9; top: 0%;translate:-50% 0%;} 
	.screen>.screen-content {padding-bottom: .5rem;}
	.screen>.screen-content>.screen-icon{width:50px;height:50px;top:10%;}
    .screen>.screen-content>.screen-user>.name{font-size:2rem;;}
	.screen>.screen-content>.screen-user>.link{font-size:1rem;}
	.screen>.screen-content>.screen-user:before {display: none;}
	.screen>.screen-content>.screen-user:after {display: none;}
	.footer{display: none; position: relative; justify-content: start;align-items: center; top: 0%;transform: translate(-50%, 0%); padding: 0rem 0rem 0rem 0rem;width:100vw;height: 80vh;} 
	.list__item{place-items: center;}
	.list{align-items: center;text-align: center;} 
	.list a {align-self: center;/*width: 100%;*/} 
	.list__item-col {line-height: 1;}
	#blob{display: none;}
	.absolute {display: block;}
	.types {display: block;}
	.marqueecontainer {display: block;}
}

@media (max-width: 550px) and (max-height: 800px) {
	body{height:200vh;width: 100vw; overflow: hidden !important;}
	.demo-2 {gap: 5px;}
	.frame{padding: 0;}
	.marqueecontent span {font-size: 18px;}
	.types-list li {font-size: 16px; padding: 0;}
}

/* Loader CSS */
.loading{display:flex;align-items:center;justify-content:center;position:fixed;top:0;right:0;bottom:0;left:0;z-index:100;background:#ffa666;opacity:0;transition:0.5s;}
.before-load .loading{opacity:1;}
@keyframes loading-circle-ani{0%{stroke-dashoffset:157;}75%{stroke-dashoffset:-147;}100%{stroke-dashoffset:-157;}}
.loading-circle{ position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); width:50vw;height:auto;}
.loading-circle img{width:100%;height:auto; filter: drop-shadow(0px 0px 10px #fff);}
.loading-circle circle{stroke-width:4;stroke-dasharray:157,157;stroke-dashoffset:0;fill:transparent;}
/*@media (max-width:500px) {  }*/
