article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{--webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{--webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

@font-face{font-family:'LEMONMILK-Regular';src:url('../../assets/LEMONMILK-Regular.otf') format('opentype');font-display:swap;}
@font-face{font-family:'Barett\ Street';src:url('../../assets/Barett\ Street.ttf') format('truetype');font-display:swap;}

body {
	--color-text: #fff;
	--color-bg: #000000;
	--color-link: #fff;
	--color-link-hover: #ffa666;
	--color-blocklink: #515151;
	--color-blocklink-hover: #fff;
	--color-blocktitle: #fff;
	--color-blocktitle-hover: #ff4081;
	--color-text: #767676;
	font-family: 'LEMONMILK-Regular', sans-serif;
	min-height: 100vh;
	color: #eee;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}
body::after {content: '';position: absolute;top: 0;left: 0;height: 100%;width: 100%;background-image: repeating-linear-gradient(transparent, transparent 2px, #aaa 3px);background-size: auto 100%;pointer-events: none;z-index: 5;opacity: .3; }
@media(max-width: 1000px) {body::after {display: none;}}

/*NAV*/

.text-container{ font-family: 'LEMONMILK-Regular', 'Roboto', sans-serif; display: flex; /*flex-direction: column;*/ justify-content: center; align-items: center; top: 1%; height: 3vh; width: 100vw; position: fixed; padding: 2vw 5vw; /*background-color: #111; border-top: 3px solid #f1f1f1; border-bottom: 3px solid #f1f1f1; left: 0;*/ z-index: 3; } 
.title{ font-size: 1rem; text-align: center; /*text-transform: uppercase;*/ letter-spacing: 0.5rem; font-weight: 500; color: #f1f1f1; }
.title span {position: relative; z-index: 1;} .title span::before {content: ''; position: absolute; z-index: -1; top: 0; bottom: 0; left: -0.25em; right: -0.25em; background-color: #f1f1f1; transform-origin: center right; transform: scaleX(0); transition: transform 0.2s ease-in-out;}.title span:hover::before { transform: scaleX(1); transform-origin: center left;}
.titleII{color:#e0e0e0; filter: drop-shadow(0px 0px 10px #f1f1f1)}
.title span:hover .titleII{color:#111; filter: drop-shadow(0px 0px 10px #111)}

/*.socials{}*/

.socialsII{font-size: 4rem; font-family: 'Barett\ Street'; margin: 0 20px; transition: all 0.3s ease-in-out; user-select: none; -webkit-user-select: none;/* Safari */ -moz-user-select: none;/* Firefox */ -ms-user-select: none;/* IE/Edge */}
.socials span {position: relative; z-index: 1; mix-blend-mode: difference;} /*.socials span::before {content: ''; position: absolute; z-index: -1; top: 10%; bottom: 50%; left: 1em; right: 0.5em; rotate: -45deg; background-color: #f1faee; transform-origin: center center; transform: scaleX(0); transition: transform 0.2s ease-in-out;}.socials span:hover::before { transform: scaleX(1); transform-origin: center center;}*/
.socials span:hover .socialsII{filter: drop-shadow(0px 0px 5px #ffa666)}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
}

button:focus,
a:focus {
	outline: none;
}

main {
	position: relative;
	width: 100vw;
	min-height: 100vh; /* changed from fixed height */
    display: flex;
	flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block {
	/*text-transform: lowercase;*/
	padding: 1rem 2rem 1rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: fit-content;
	border-top: 1px solid #f1f1f1;
}

.block__title, .block a {
	position: relative;
	font-size: 3rem;
	margin: 0 0 .5rem 0;
	padding: 0 0;
	cursor: pointer;
	font-family: 'LEMONMILK-Regular', 'Roboto', sans-serif;
	font-weight: 800;
	color: var(--color-blocktitle);
	text-align: center;
	user-select: none; -webkit-user-select: none;/* Safari */ -moz-user-select: none;/* Firefox */ -ms-user-select: none;/* IE/Edge */
}

.PLAY { position: relative; display: inline-block; font-size: 4rem; font-weight: bold; color: #000; text-decoration: none; overflow: hidden; }
/*.PLAY::before { content: ''; position: absolute; z-index: 1; top: 33%; bottom: 33%; left: -0.25em; right: -0.25em; background-color: #ffa666; border: 3px solid #000; filter: url(#pDistort); animation: fullSweep 2s ease-in-out infinite; transform: scaleX(0); transform-origin: left; }*/
.play-text { position: absolute; top: 33%; bottom: 33%; left: -5.25em; right: -5.25em; display: flex; align-items: center; justify-content: center; font-size: 1rem; z-index: 2; color: #000; background-color: #ffa666; /*border: 3px solid #000;*/ animation: reverseSweep 3s ease-in-out infinite; transform: scaleX(0); transform-origin: right; overflow: hidden; /*filter: url(#pDistort);*/ }
@keyframes reverseSweep { 0% { transform-origin: right; transform: scaleX(0); } 33.333% { transform-origin: right; transform: scaleX(1); } 33.334% { transform-origin: left; transform: scaleX(1); } 66.666% { transform-origin: left; transform: scaleX(0); } 100% { transform-origin: left; transform: scaleX(0); } }
/*
.play-text { opacity: 0; animation: fullSweepFade 2s ease-in-out infinite; }
@keyframes fullSweepFade { 0%, 100% { opacity: 0; transform: scaleX(0); transform-origin: left; } 33.333% { opacity: 1; transform: scaleX(1); transform-origin: left; } 33.334% { transform-origin: right; } 66.666% { opacity: 1; transform: scaleX(0); transform-origin: right; } }
*/
.block__title:hover {
	color: #ffa666;
}

.block__title span{
	display: inline-block;
	white-space: pre;
}

.block[data-fx="6"] a::after,
a.content__text-link[data-fx="6"]::after {
	content: '';
	z-index: -1;
	width: 100%;
	bottom: 0.25rem;
	left: 0;
	position: absolute;
	height: 2px;
	background: currentColor;
	transform: scale3d(0,1,1);
	transform-origin: 100% 50%;
	transition: transform 0.7s cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

a.content__text-link[data-fx="6"]::after {
	bottom: 0;
}

.block[data-fx="6"] a:hover::after,
a.content__text-link[data-fx="6"]:hover::after {
	transform: scale3d(1,1,1)
}

.hover-reveal {
	position: fixed;
	width: 250px;
	height: 150px;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
}

.hover-reveal__inner,
.hover-reveal__img {
	width: 100%;
	height: 100%;
	position: relative;
}

.hover-reveal__deco {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ffa666;
}

.hover-reveal__img {
	background-size: cover;
	background-position: 50% 50%;
}

@media (max-width: 500px) {
  .hover-reveal {
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: auto !important;
    bottom: 20px !important; /* or use top: 50% if you want it vertically centered */
    position: fixed !important; /* ensures it stays in place */
  }
}



.footer{position:relative;display:flex;flex-direction:column;flex-wrap:wrap;align-items:center;width:100%; background:transparent;color:#f1f1f1; padding:0 0 1rem;}.footer a{color:#f1f1f1;text-decoration:none;margin:0 1rem;}.foot-link{display:flex; /*flex-direction:column;*/ justify-content: space-around; width: 100%;}.foot-link a{display:flex;justify-content:space-around;align-items:center;width:100%;padding:0.5em;/*margin:0.5rem;*/border-radius:1rem;color:#f1f1f1;text-decoration:none;}.foot-copy{width:100%;text-align:center;margin:0rem 0;font-size:10rem;letter-spacing:-2px;line-height:0.9em;}
.linethrough{margin-bottom: 3px; width: 100vw; display:flex; justify-content: space-around;} .linethrough a{text-decoration:line-through;} .top-plus{margin-top:0;} .tm{font-family:'Noto Sans KR',sans-serif;}
.foot-link-II span {position: relative; z-index: 1; font-size:2rem;}.foot-link-II span::before {content: ''; position: absolute; z-index: -1; top: 0; bottom: 0; left: -0.25em; right: -0.25em; background-color: #ffa666; transform-origin: center right; transform: scaleX(0); transition: transform 0.2s ease-in-out;} .foot-link-II span:hover::before { transform: scaleX(1); transform-origin: center left;}
.foot-link-III span {position: relative; z-index: 1; font-size:1vw;}.foot-link-III span::before {content: ''; position: absolute; z-index: -1; top: 0; bottom: 0; left: -0.25em; right: -0.25em; background-color: #ffa666; transform-origin: center right; transform: scaleX(0); transition: transform 0.2s ease-in-out;} .foot-link-III span:hover::before { transform: scaleX(1); transform-origin: center left;}
.foot-link-II span:hover {color: #000;}
.foot-link-III span:hover {color: #000;}

@media screen and (min-width: 53em) {
	.block {
		align-items: center;
	}
	.content {
		position: relative;
		/*display: grid;
		grid-template-columns: repeat(6,16.16%);*/
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		margin: 0 auto;
		padding-top: 10vh;
		min-width: 80vw;
		height: fit-content;
		text-align: left;
	}
}

@media only screen and (max-device-width: 500px){

	.text-container{top: 1%;}
	.socialsII{font-size: 1.5rem; margin: 0 5px;}
	.title{ font-size: 0.5rem; }
	.block{	flex-direction: column; }
	.block__title{ font-size: 1.5rem; }
	.block a { font-size: 1.5rem; }
	.foot-link { flex-direction: column; }
	.foot-copy { font-size: 5rem; }
	.footer a { margin: 0 0; }
	.foot-link-III span { font-size: 1rem; }
	.content { padding-top: 10vh; }
	.play-text { position: absolute; top: 20%; bottom: 20%; left: -5.25em; right: -5.25em; font-size: 1rem; animation: reverseSweep 3s ease-in-out infinite;}
}
@media (max-width: 480px) {
    .navbar a {
        font-size: 0.9rem;
    }
	.text-container{ top: 3%; }
}
@media screen and (max-width: 768px) {
    .foot-copy {
        font-size: 2rem; /* Adjust to fit small screens */
        letter-spacing: -1px;
    }

    .linethrough {
        width: 100%; /* Avoid using 100vw to prevent horizontal overflow */
    }

    .foot-link {
        flex-direction: column; /* Stack links vertically for mobile */
        align-items: center;
    }

    .foot-link a {
        width: auto; /* Prevent full-width stretching */
        text-align: center;
    }
	.foot-link-II span {
		font-size: 3vw;
	}

    .foot-link-III span {
        font-size: 3vw; /* Use a relative unit that scales better */
    }
	html, body {
        max-width: 100vw;
        overflow-x: hidden; /* Force prevent horizontal scroll */
    }
}

/* Loader CSS */
.loading{display:flex;align-items:center;justify-content:center;position:fixed;top:0;right:0;bottom:0;left:0;z-index:100;background:#ffa666;opacity:0;transition:0.5s;}
.before-load .loading{opacity:1;}
/*@keyframes loading-spin{100%{transform:rotate(360deg);}}*/
@keyframes loading-circle-ani{0%{stroke-dashoffset:157;}75%{stroke-dashoffset:-147;}100%{stroke-dashoffset:-157;}}
.loading-circle{ aspect-ratio: 1/1; width:200px;height:auto;/*animation:loading-spin 2s infinite;*/}
.loading-circle img{width:100%;height:auto; border: 2px #000;}
.loading-circle circle{stroke:#171010;stroke-width:4;stroke-dasharray:157,157;stroke-dashoffset:0;fill:transparent;animation:loading-circle-ani 1s infinite;}
/*@media (max-width:500px) {  }*/
